{% extends "layouts/base.html" %}

{% block title %} Emergency Numbers {% endblock title %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

    <h1>Emergency Numbers</h1>
    <div class="card ">
        
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    NAME
                  </th>
                  <th>
                    NUMBER
                  </th>
                </tr>
              </thead>


              <tbody>

                <tr>
                    <td>
                      Fire Service
                    </td>
                    <td>
                      101
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ambulance
                    </td>
                    <td>
                      102
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Medical & Fiire
                    </td>
                    <td>
                      108
                    </td>
                  </tr>
                  
              </tbody>
            </table>
          </div>
        </div>
        
      </div>

      <div class="card ">
        
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    NAME
                  </th>
                  <th>
                    NUMBER
                  </th>
                </tr>
              </thead>


              <tbody>

                <tr>
                    <td>
                      Main Gate Security Supervisor
                    </td>
                    <td>
                      82880-08113
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Health Center
                    </td>
                    <td>
                      0175-2393162
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pharmacist
                    </td>
                    <td>
                      98152-10857
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ambulance
                    </td>
                    <td>
                      82880-08122
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Medical Assistant
                    </td>
                    <td>
                      94636-49778
                    </td>
                  </tr>
                  
              </tbody>
            </table>
          </div>
        </div>
        
      </div>

{% endblock content %}

{% block javascripts %} {% endblock javascripts %}